body {
    margin-top: 0;
    background-color: #F0F0F0;
    font-family: "Montserrat", sans-serif;
    color: #434343;
    background-image: url('https://i.postimg.cc/44QKzY5p/translucent-image_(6).png  ');
    background-size: cover;
}
.container.head {
    max-width: 80%;
    max-height: 10%;
    background-color: #FFFFFF;
    padding: 16px 20px 8px 20px;
    border-radius: 16px;
    margin-top: 1.5em;
}
.container a {
    padding: 1em 2.4em 1.5em 1em;
    font-size: 16px;
}
.link {
    font-size: 14px;
    color: #F13935;
}
.sh {
    text-decoration: none;
}
.sh img {
    padding: 0 0 4px 0;
}
.sh h3 {
    margin-left: 2em;
    font-size: 20px;
    font-weight: 600;
}
@media screen and (min-width: 992px) and (max-width: 1030px){
    .container a {
        font-size: 16px;
        padding-right: 2em; 
    }
    .sh h3 {
        font-size: 20px;
    }
    .sh img {
        width: 60px;
        height: 60px;
    }
    .form img {
        margin-top: 2em;
        margin-bottom: 1em;
        width: 280px;
        height: 200px;
    }
    .form .one{
        margin-top: 0;
        width: 240px;
        height: 280px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .container a {
        font-size: 12px;
        padding-right: 2em; 
    }
    .sh h3 {
        font-size: 16px;
    }
    .sh img {
        width: 50px;
        height: 50px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .container a {
        font-size: 10px;
        padding-right: 2em; 
    }
    .sh h3 {
        font-size: 12px;
    }
    .sh img {
        width: 38px;
        height: 38px;
    }
}
.form h3 {
    padding-top: 1em;
    text-align: center;
}
.form {
    background-color: white;
    max-height: 150em;
    max-width: 80%;
    border-radius: 16px;
    margin: 4em auto;
    padding: 2em;
    font-size: 1em;
}
.form img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}
footer {
    background-color: #373535;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #F5F5F5 !important;
}
footer p {
    font-size: 12px;
    color: #F5F5F5;
}
.soo {
    max-width: 1em;
}
@media (max-width: 600px) {
    .foot1 a {
        font-size: 12px;
    }
    .form {
        font-size: 8px;
    }
    .head img {
        width: 45px;
        height: 45px;
    }
    .container.head h3 {
        font-size: 14px;
    }
    .container.head a {
        font-size: 10px;
        margin-left: 0.5em;
        margin-right: 0;
        padding-right: 0;
    }
    footer p {
        font-size: 10px;
    }
}
.foot1 {
    padding-top: 2em;
}